<h2> Your booking was succesfull </h2>

<%= @listing.property_name%><br>
Number of nights:
<%=(@booking.end_date - @booking.start_date-1).to_i%><br>
Total_price:
<%=((@booking.end_date - @booking.start_date-1)*@listing.price_per_night).to_f%>

<form action ="/dashboard" method= 'get'>
  <input type='submit' name='book_again' value ="Book another place">
</form>
