<h1> Welcome to your dashboard </h1>


<form action ='/' method = 'get'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value ='Sign Out'>
</form>

<form action = '/spaces/new' method = 'get'>
  <button name = 'add_a_space' type = 'submit'>Add your space here!</button>
</form>


<ul id='listings'>
  <% @listings.each do |listing|%>
    <li>
    Name: <%= listing.property_name%>
    Description: <%= listing.description%>
    Price per night> <%=listing.price_per_night%>
    <%end%>
  </li>
</ul>
