<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ' rel='stylesheet'>
<link href='/styles.css' rel='stylesheet'>


<h1>Welcome to MakersBNB!</h1>
<h2>Available listings</h2>

<ul id='listings'>
  <% @listings.each do |listing|%>
    <li>
    Name: <%= listing.property_name%>
    Description: <%= listing.description%>
    Price per night: <%=listing.price_per_night%>£
    <%end%>
  </li>
</ul>

<form action ='/users/new' method = 'get'>
  <input class='btn' type ='submit' value = "Sign Up">
</form>

<form action ='/sessions/new' method = 'get'>
  <input class='btn' type='submit' value ='Sign In'>
</form>
