
<h1>Welcome to MakersBNB!</h1>
<h2>Available listings</h2>

<ul id='listings'>
  <% @listings.each do |listing|%>
    <li>
    Name: <%= listing.property_name%>
    Description: <%= listing.description%>
    Price per night: <%=listing.price_per_night%>£
    <%end%>
  </li>
</ul>

<form action ='/users/new' method = 'get'>
  <input type ='submit' value = "Sign Up">
</form>

<form action ='/sessions/new' method = 'get'>
  <input type='submit' value ='Sign In'>
</form>
