<h2>List your property here</h2>
<form action = '/spaces' method = 'post'>
  Property name:
  <input type = 'text' name = 'property_name'>
  Description:
  <input type = 'text' name = 'description'>
  Price/night:
  <input type = 'number' name = 'price_per_night'>
  <button type="submit">Submit</button>
</form>
