<h1>Hey <%=@user.first_name%> Confirm your MakersBnB Sign-Up!</h1>

<form action='/registration-successful' method='post' name='confirm-registration'>
  <input type='submit' value='Confirm!'>
</form>
