<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ' rel='stylesheet'>
<link href='/styles.css' rel='stylesheet'>
  <div id='wrapper'>
    <h1>Please sign in</h1>

<div class=row>
    <form class='form-inline form-group' action='/sessions' method='post'>
      <label for='email'> Email: </label>
         <input name='email' type='email'><br>
      <label for='password'> Password: </label>
         <input name='password' type='password'>
      <input type='submit' value='Sign in'>
    </form>
</div>
</div>