Thank you for adding your space, <%=current_user%>!


<ul id='listings'>
  <% @listings.each do |listing|%>
    <li>
    Name: <%= listing.property_name%>
    Description: <%= listing.description%>
    Price per night> <%=listing.price_per_night%>
    <%end%>
  </li>
</ul>
